@tailwind base;

@tailwind components;

@tailwind utilities;

.spotify-button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    color: #fff;
    background-color: #1db954;
    font-size: 16px;
    line-height: 1;
    border-radius: 500px;
    padding: 19px 56px 21px;
    margin: 32px 0;
}
