.floating-album {
    overflow: hidden;
}

.floating-album img {
    height: 100vh;
    width: auto;
    opacity: 1;
    filter: blur(30px);
    transform: scale(3) translate(0px, 0px) rotate(0deg);
    overflow: hidden;
    /* animation: album-move infinite 120s */
}

@keyframes album-move {
    0% {
        transform: scale(8) translate(-200px, 0px) rotate(0deg);
    }
    50% {
        transform: scale(8) translate(300px, 100px) rotate(90deg);
    }
    100% {
        transform: scale(8) translate(-200px, 0px) rotate(0deg);
    }
}